html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    font-family: "Open Sans", serif;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

.page__banner {
    background: url("img/bg.jpg");
    width: 100%;
    background-size: cover;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 24px 0;
    z-index: 5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;

}

.nav__item + .nav__item {
    padding-left: 60px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
    font-size: 14px;
}

.hero-banner {
    margin-top: 280px;
    margin-bottom: 150px;
    text-align: center;
    width: 100%;
    color: white;
}

.hero-banner__title {
    font-family: 'Lora', serif;
    font-size: 58px;
    font-weight: 700;
    height: 61px;
    padding-bottom: 34px;
}

.hero-banner__desc {
    font-size: 25px;
    height: 26px;
    padding-bottom: 88px;
}

.hero-banner__footer {
    width: 320px;
    height: 72px;
    margin: 0 auto;
}

.hero-banner__link {
    font-size: 25px;
    color: white;
    background-color: #00a5ff;
    text-decoration: none;
    padding: 20px 60px;
    display: inline-block;
    border-radius: 36px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
}

.page__section {
    padding-top: 73px;
    background: #ffffff;
}

.page__title {
    font-family: 'Lora', serif;
    font-size: 42px;
    color: #3a3f4b;;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}

.line {
    border-top: 4px solid #00a5ff;
    width: 147px;
    margin: 0 auto;
    /*padding-bottom: 370px;*/
}

.service__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 100px;
}

.service__container {
    flex: 0 1 25%;
    max-width: 25%;
    text-align: center;
    margin-right: 50px;
}

.service__container:nth-child(4) {
    margin-right: 0;
}

.service__icon {
    width: 100%;
}

.service__icon > img {
    max-width: 100%;
    height: auto;
}

.service__title {
    margin-top: 18px;
}

.name__service__title {
    height: 14px;
    color: #3a3f4b;
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    margin-bottom: 35px;
}

.service__description {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    font-family: "Open Sans", sans-serif;

    color: #999999;
    line-height: 20px;
}

.next__header__container {
    width: 570px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 63px;
}
.next__page__section {
    background: #f5f6f8;
    padding-bottom: 80px;
}
.next__nav__link{
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}
.next__page__title{
    margin-top: 45px;
}
.foto__navigation{
    margin-top: 50px;
    margin-bottom: 62px;
}
.nav__foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foto__nav__item{
    flex: 0 1 25%;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #f4f5f9;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.foto__nav__item:nth-child(3n){
    margin-right: 0;
}
.foto__title{
    font-size: 18px;
    color: #999999;
    padding: 30px;
}
.brands_list{
    margin-top: 90px;
    margin-bottom: 125px;
}
.brands_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img__page__section{
    background: #f5f6f8;
    padding-top: 65px;
}
.img__block{
    margin-top: 60px;
    margin-bottom: 140px;
}
.img__position{
    margin-left: 80px;
}
.img__position:nth-child(1){
    margin-left: 0;
}
.img__block__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.img__description{
    padding-top: 45px;
    text-align: center;
    width: 557px;
    height: 144px;
    margin: 0 auto;
}

.img__block__description{
    font-size: 23px;
    font-family: 'Lora', sans-serif;
    color: #3a3f4b;
    line-height: 30px;
    padding-bottom: 40px;

}
.img__block__mail{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #3a3f4b;
    font-weight: 300;
}
.block__mail{
    color: #3a3f4b;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #3a3f4b;
}

.contacts__page{
    background:  #3b404c;
}
.main__container__item{
    height: 25px;
    color: #ffffff;
    font-family: 'Lora',sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 80px;

}
.contacts__nav{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.contacts__nav__item + .contacts__nav__item{
    padding-left: 30px;
}
.contacts__nav__link{
    width: 456px;
    height: 21px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 21px;
    text-decoration: none;
    line-height: 43px;
}
.contacts__container{
    display: flex;
    flex-direction: column;

}
.page__container__items{
    width: 163px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 60px;

}
.address__nav {
    margin-top: 130px;
    display: flex;

}

.address__item{
    font-size: 18px;
    width: 307px;
    color: #999999;
    display: block;
    text-transform: none;
    padding-top: 30px;
}
.address__item:nth-child(2){
    padding-top: 0;
}
.right__column{
    width: 100%;
    margin-left: 250px;

}

.right__column__title{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;

}
.right__column__item{

flex-basis: 303px;
    height: 20px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;

}